.Form {
    & label {
        font-size: 1.6rem;
        font-weight: 600;
        display: block;
    }

    & label:not(:first-child) {margin-top: 1rem;}

    & input, & select {
        padding: 1rem .8rem;
        font-size: 1.6rem;
        border: 2px solid var(--gray-200);
        // background-color: var(--gray-100);
        color: var(--gray-800);
        border-radius: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 40rem;
    }

    & select {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>');
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: center right 1rem;
    }

    & input::placeholder {
        color: var(--gray-500);
    }

    & input:focus,
    & select:focus {
        outline: none;
        border: 2px solid var(--focus-ring-color);
    }

    & button {
        padding: 1rem 1.8rem;
        font-size: 1.6rem;
        border-radius: 8px;
        background-color: var(--gray-700);
        border: 2px solid var(--gray-700);
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        line-height: initial;
        transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
          transform 200ms ease-in-out;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        margin-top: 2rem;
    }

    & button:hover {
        cursor: pointer;
        background-color: var(--gray-800);
    }

    & button:disabled {
        background-color: #bdbdbd;
        border: 2px solid transparent;
        cursor: auto;
    }

}

.Error {
    font-size: 1.2rem;
    color: var(--red-600);
    margin-top: 5px;
}

.HeadingGuide {
    font-size: 2rem;
    margin-bottom: 2rem;
}