.Box {
    display: flex;
    align-items: center;
}

.theList {
    display: flex;
    align-items: center;
}

.Item {
font-size: 1.6rem;
padding: 1.4rem 2rem;
}

.aTag {
text-decoration: none;
color: #333;
}