.Item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba(77, 64, 64, 0.15);
    padding: 2.4rem;
}

.Rating {

}

.Image {
    width: 4rem;
    height: 4rem;
    border-radius: 50rem;
}

.Name {
    font-size: 1.4rem;
}

.Message {
    font-size: 1.4rem;
    color: #777;
}

